@import "./styles/variables.scss";

body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  font-size: $font-size-base * 2;
}

p {
  font-size: $font-size-base;
  margin-top: 0;
}

.bilkent {
  color: #d73a49;
}

.bilkent:hover {
  color: #a3212e;
}

.github {
  color: #6f42c1;
}

.github:hover {
  color: #4e2d89;
}

.linkedin {
  color: #0077b5;
}

.linkedin:hover {
  color: #004568;
}

.twitter {
  color: #1da1f2;
}

.twitter:hover {
  color: #0b76b8;
}

.resume {
  color: #28a745;
}

.resume:hover {
  color: #19692b;
}

.contact {
  color: #ffd33d;
}

.contact:hover {
  color: #efb900;
}

.container {
  max-width: 824px;
  min-height: 100vh;
  margin: auto;
  margin-top: -100px;
  padding: 56px 12px;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: -56px;
  }
}
