@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

// grayscale colors
$white: #fff;
$gray-100: #eceff4;
$gray-200: $gray-100;
$gray-300: #e5e9f0;
$gray-400: $gray-300;
$gray-500: #d8dee9;
$gray-600: #4c566a;
$gray-700: #434c5e;
$gray-800: #3b4252;
$gray-900: #2e3440;
$black: $gray-900;

// colors
$blue: #81a1c1;
$indigo: #5e81ac;
$purple: #b48ead;
$pink: #e83e8c;
$red: #bf616a;
$orange: #d08770;
$yellow: #ebcb8b;
$green: #a3be8c;
$teal: #8fbcbb;
$cyan: #88c0d0;

$font-family: "PT Mono", monospace;

$font-size-base: 1.5rem;
